{% extends "base.html" %}


{% block title %} Delete Stock {% endblock title %}


{% block content %}
                
    <form method="post">
        
        {% csrf_token %}
        
        <fieldset class="form-group">
            <div style="color:#6c757d; font-style: bold; font-size: 3rem; border-bottom: 1px solid white;">Delete Stock</div> <br>
            <h2>Are you sure you want to delete the stock item "{{ object.name }}"?</h2>
        </fieldset>

        <div class="form-group">  
            <button type="submit" class="btn btn-primary">Yes, Delete</button>
            <a href="{% url 'inventory' %}" class="btn btn-danger">Cancel</a>
        </div>
        
    </form>

{% endblock content %}