{% extends "base.html" %}


{% block title %} About {% endblock title %}


{% block content %}
    
    {% if not user.is_authenticated  %}
        <br>
        <a href="{% url 'home' %}" class="btn btn-info">Go Back</a>
    {% endif %}    
    
    <div class="align-middle" style="color: #6c757d; font-style: bold; font-size: 3rem;"></div>
    <div class="align-middle" style="color: #fff">Inventory Management System</div>
    <br><br>

    <div class="align-middle"> 
        <h2 style="color:#6c757d">| About |</h3> <br>
            <p>
                We made this project <b>"Inventory Management System"</b> for our University<b> Mohammad Ali Jinnah University</b>.
            </br>
            <b>Teacher Name</b> Muhamma Hassan
            </p>
        <br>
    </div>
       
  

{% endblock content %}